@media (min-width: 1920px){
    .main-page-header .bg-pics{
        position: absolute;
    }

    .main-page-header .bg-pic-flower{
        top: -45px;
        left: 40%;
        width: 400px;
        height: 400px;
    }
    .main-page-header .bg-pic-keyboard{
        top: -10px;
        left: 60%;
        max-width: 1000px;
    }
    .main-page-header .bg-pic-notebook{
        top: 440px;
        left: 45%;
        max-width: 450px;
        /*width: 400px;*/
        /*height: 467px;*/
    }
    .main-page-header .bg-pic-pen{
        top: 550px;
        left: 63%;
        max-width: 250px;
        /*width: 195px;*/
        /*height: 300px;*/
    }
    .main-page-header .bg-pic-mouse{
        top: 500px;
        left: 75%;
        max-width: 300px;
        /*width: 326px;*/
        /*height: 400px;*/
    }
}

@media (max-width: 1920px){
    .main-page-header .bg-pics{
        position: absolute;
    }

    .main-page-header .bg-pic-flower{
        top: -45px;
        left: 40%;
        width: 400px;
        height: 400px;
    }
    .main-page-header .bg-pic-keyboard{
        top: -10px;
        left: 60%;
        max-width: 1000px;
    }
    .main-page-header .bg-pic-notebook{
        top: 500px;
        left: 40%;
        max-width: 450px;
        /*width: 400px;*/
        /*height: 467px;*/
    }
    .main-page-header .bg-pic-pen{
        top: 620px;
        left: 60%;
        max-width: 250px;
        /*width: 195px;*/
        /*height: 300px;*/
    }
    .main-page-header .bg-pic-mouse{
        top: 500px;
        left: 75%;
        max-width: 300px;
        /*width: 326px;*/
        /*height: 400px;*/
    }
}
@media (max-width: 1679px){
    .main-page-header .bg-pics{
        position: absolute;
    }

    .main-page-header .bg-pic-flower{
        top: -45px;
        left: 40%;
        width: 400px;
        height: 400px;
    }
    .main-page-header .bg-pic-keyboard{
        top: -10px;
        left: 60%;
        max-width: 1000px;
    }
    .main-page-header .bg-pic-notebook{
        top: 520px;
        left: 44%;
        max-width: 450px;
        /*width: 400px;*/
        /*height: 467px;*/
    }
    .main-page-header .bg-pic-pen{
        top: 670px;
        left: 66%;
        max-width: 250px;
        /*width: 195px;*/
        /*height: 300px;*/
    }
    .main-page-header .bg-pic-mouse{
        top: 500px;
        left: 82%;
        max-width: 300px;
        /*width: 326px;*/
        /*height: 400px;*/
    }
}
@media (max-width: 1603px){
    .main-page-header .bg-pics{
        position: absolute;
    }

    .main-page-header .bg-pic-flower{
        top: -45px;
        left: 40%;
        width: 400px;
        height: 400px;
    }
    .main-page-header .bg-pic-keyboard{
        top: -10px;
        left: 60%;
        max-width: 1000px;
    }
    .main-page-header .bg-pic-notebook{
        top: 510px;
        left: 44%;
        max-width: 450px;
        /*width: 400px;*/
        /*height: 467px;*/
    }
    .main-page-header .bg-pic-pen{
        top: 640px;
        left: 70%;
        max-width: 250px;
        /*width: 195px;*/
        /*height: 300px;*/
    }
    .main-page-header .bg-pic-mouse{
        top: 500px;
        left: 82%;
        max-width: 300px;
        /*width: 326px;*/
        /*height: 400px;*/
    }
}
@media (max-width: 1413px){
    .main-page-header .bg-pics{
        position: absolute;
    }

    .main-page-header .bg-pic-flower{
        top: -45px;
        left: 40%;
        width: 400px;
        height: 400px;
    }
    .main-page-header .bg-pic-keyboard{
        top: -10px;
        left: 60%;
        max-width: 1000px;
    }
    .main-page-header .bg-pic-notebook{
        top: 500px;
        left: 44%;
        max-width: 450px;
        /*width: 400px;*/
        /*height: 467px;*/
    }
    .main-page-header .bg-pic-pen{
        top: 665px;
        left: 75%;
        max-width: 250px;
        /*width: 195px;*/
        /*height: 300px;*/
    }
    .main-page-header .bg-pic-mouse{
        top: 500px;
        left: 82%;
        max-width: 300px;
        /*width: 326px;*/
        /*height: 400px;*/
    }
}
@media (max-width: 1199px){
    .main-page-header .bg-pics{
        position: absolute;
    }

    .main-page-header .bg-pic-flower{
        top: -45px;
        left: 30%;
        width: 400px;
        height: 400px;
    }
    .main-page-header .bg-pic-keyboard{
        top: -10px;
        left: 60%;
        max-width: 1000px;
    }
    .main-page-header .bg-pic-notebook{
        top: 500px;
        left: 55%;
        max-width: 450px;
        /*width: 400px;*/
        /*height: 467px;*/
    }
    .main-page-header .bg-pic-pen{
        top: 620px;
        left: 70%;
        max-width: 250px;
        /*width: 195px;*/
        /*height: 300px;*/
    }
    .main-page-header .bg-pic-mouse{
        top: 450px;
        left: 85%;
        max-width: 300px;
        /*width: 326px;*/
        /*height: 400px;*/
    }
}
@media (max-width: 991px) {
    .main-page-header .bg-pics{
        display: none;
    }
    .about-pricing-section .bl-box{
        border-left: none;
    }
}

@media (max-width: 767px){
    .about-pricing-section .bl-box{
        border-left: none;
    }
    .border-pricing{
        border-bottom: 1px solid #a6a6a66a;
    }
}

@media (max-width: 420px){
    .about-pricing-section .fas,
    .about-pricing-section .far{
        font-size: 2rem;
    }
}