@media (max-width: 1199px){
    .searchbox {
        width: 100%;
    }
}
@media (max-width: 767px) {
    h1 {
        font-size: 1.7rem;
    }
}
@media (max-width: 644px) {
    .start-now-banner .start-now-text{
        font-size: 1.8rem!important;
    }
    .height-nav-mobile{
        height: 80vh;
    }
}
@media (max-width: 450px){
    .w-270px{
        width: 100%;
    }
}