.company-header{
    background-color: #2a5788;
    border-radius: 5px;
}

.even{
    background-color: #c4d9ed;
}

.company-header button{
    color: #ffffff;
}

.company-header:hover{
    cursor: pointer;
}

.company input{
    border: 1px solid lightgray;
    border-radius: 5px;
}
