.top-form, .main-page-header, .price-calculation-section, .our-clients-section, .start-now-banner{
    background-color: #efefef;
}

body{
    overflow-x: hidden;
}

.main-page-header {
    position: relative;
}

.main-page-header nav .logo-svg{
    width: 120px;
    height: auto;
}

.main-page-header nav .nav-item {
    font-size: 1.1rem;
}

.main-page-header .searchbox {
    border: 1px solid #000000;
    border-radius: 5px;
    outline: none;
    color: #777;
    /*width: 170px;*/
    /*height: 26px;*/
    background: inherit;
    padding-left: 10px;
}

.main-page-header .searchboxwrapper {
    position: relative;
}


.main-page-header .searchsubmit {
    position: absolute;
    top: 20%;
    right: 5%;
    border: none;
    cursor: hand; cursor: pointer;
}

.main-page-header .bg-pics{
    position: absolute;
}

.main-page-header .bg-pic-flower{
    top: -120px;
    left: 40%;
    width: 400px;
    height: 400px;
}
.main-page-header .bg-pic-keyboard{
    top: -100px;
    left: 70%;
}
.main-page-header .bg-pic-notebook{
    top: 300px;
    left: 40%;
    /*width: 400px;*/
    /*height: 467px;*/
}
.main-page-header .bg-pic-pen{
    top: 520px;
    left: 68%;
    /*width: 195px;*/
    /*height: 300px;*/
}
.main-page-header .bg-pic-mouse{
    top: 400px;
    left: 80%;
    /*width: 326px;*/
    /*height: 400px;*/
}

.blur-block{
    overflow: hidden;
    top: 0;
    left: 0;
    position: absolute;
    filter: blur(4px);
}

.top-form-container .form-group input:focus{
    box-shadow: none;
    outline: none;
}
.top-form-container .form-group input{
    border: none;
    border-radius: 0;
    background: transparent;
    border-bottom: 1px solid grey;
}

.about-pricing-section .bl-box{
    border-left: 1px solid #48b71a;
}

.about-pricing-section .bl-box .fas{
    color: #a8b1b9;
}

.about-pricing-section .bl-box-header{
    color: #48b71a;
    font-size: 1.5rem;
}

.our-clients-img{
    height: 400px;
    background-size: cover;
    background-image: url("../../../../../../img/prec.png");
}

.our-clients-img-blur{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.7;
}

.our-clients-img-inner{
    width: 100%;
    height: 100%;
    border: 2px solid #48b71a;
}

.technology-section .technology-img{
    width: 80px;
    height: auto;
}

.start-now-banner .start-now-text{
    font-size: 3rem;
    font-weight: lighter;
}
.start-now-banner .red-btn{
    width: 200px;
    border: 2px solid #b73645;
    background: transparent;
}

.triangle-border {
    position: relative;
}

.triangle-border .left-right-border {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

.triangle-border::before {
    background: #48b71a;
    content: "";
    display: block;
    height: 2px;
    width: 200px;
    position: absolute;
    left: 0;
    top: 0;
}

.triangle-border::after {
    background: #48b71a;
    content: "";
    display: block;
    height: 2px;
    width: 200px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.triangle-border .left-right-border::before {
    background: #48b71a;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009c49', endColorstr='#ffec00',GradientType=0 ); /* IE6-9 */
    content: "";
    display: inline-block;
    height: 200px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 2px;
}

.triangle-border .left-right-border::after {
    background: #48b71a;
    content: "";
    display: inline-block;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
}