.top-form, .main-page-header, .price-calculation-section, .our-clients-section, .start-now-banner{
    background-color: #efefef;
}

.main-page-header {
    position: relative;
}

.main-page-header nav .logo-svg{
    width: 120px;
    height: auto;
}

.main-page-header nav .nav-item {
    font-size: 1.1rem;
}

.main-page-header .searchbox {
    border: 1px solid #000000;
    border-radius: 5px;
    outline: none;
    color: #777;
    /*width: 170px;*/
    /*height: 26px;*/
    background: inherit;
    padding-left: 10px;
}

.main-page-header .searchboxwrapper {
    position: relative;
}


.main-page-header .searchsubmit {
    position: absolute;
    top: 20%;
    right: 5%;
    border: none;
    cursor: hand; cursor: pointer;
}

.main-page-header .bg-pics{
    position: absolute;
    top: -20px;
    left: 800px;
    /*z-index: 1;*/
}

.blur-block{
    overflow: hidden;
    top: 0;
    left: 0;
    position: absolute;
    /*box-shadow: inset 0 0 0 200px rgba(255,255,255,0.4);*/
    filter: blur(5px);
    opacity: 0.8;
    /*z-index: 10;*/
    /*background: #efefef;*/
    /*content: "";*/
    /*position: absolute;*/
}


/*.main-page-header .navbar {*/
/*position: relative;*/
/*top: 0px;*/
/*left: 0px;*/
/*background: inherit;*/
/*border-radius: 2px;*/
/*overflow: hidden;*/
/*}*/

/*.main-page-header .navbar:after{*/
/*content: '';*/
/*background: inherit;*/
/*position: absolute;*/
/*left: -25px;*/
/*right: 0;*/
/*top: -25px;*/
/*bottom: 0;*/
/*box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);*/
/*filter: blur(10px);*/
/*}*/

.top-form-container:before, .top-form-container:after {
    content: '';
    background: #000;
    position: absolute;
}
.top-form-container:before {
    top: 50%;
    bottom: 0;
    right: 0;
    width: 1px;
}
.top-form-container:after {
    bottom: 0;
    left: 20px;
    right: 20px;
    height: 1px;
}

.top-form-container .form-group input:focus{
    box-shadow: none;
    outline: none;
}
.top-form-container .form-group input{
    border: none;
    border-radius: 0;
    background: transparent;
    border-bottom: 1px solid grey;
}

.about-pricing-section .bl-box{
    border-left: 1px solid #48b71a;
}

.about-pricing-section .bl-box .fas{
    color: #a8b1b9;
}

.about-pricing-section .bl-box-header{
    color: #48b71a;
    font-size: 1.5rem;
}

.our-clients-img{
    height: 400px;
    background-size: cover;
    background-image: url("../../../../../../img/prec.png");
}

.our-clients-img-blur{
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.7;
}

.our-clients-img-inner{
    width: 100%;
    height: 100%;
    border: 2px solid #48b71a;
}

.technology-section .technology-img{
    width: 80px;
    height: auto;
}

.start-now-banner .start-now-text{
    font-size: 3rem;
    font-weight: lighter;
}
.start-now-banner .red-btn{
    width: 200px;
    border: 2px solid #b73645;
    background: transparent;
}


/*.main-page-header {*/
    /*background-color: white;*/
/*}*/