body{
    background-color: #efefef;
}

.main-page-header nav .logo-svg{
    width: 120px;
    height: auto;
}

.main-page-header nav .nav-item {
    font-size: 1.1rem;
}

.searchbox {
    border: 1px solid #000000;
    border-radius: 5px;
    outline: none;
    color: #777;
    /*width: 170px;*/
    /*height: 26px;*/
    background: inherit;
    padding-left: 10px;
}

.searchboxwrapper {
    position: relative;
}

.searchsubmit {
    position: absolute;
    top: 25%;
    right: 5%;
    border: none;
    cursor: hand; cursor: pointer;
}

.top-form-container:before, .top-form-container:after {
    content: '';
    background: #000;
    position: absolute;
}
.top-form-container:before {
    top: 50%;
    bottom: 0;
    right: 0;
    width: 1px;
}
.top-form-container:after {
    bottom: 0;
    left: 20px;
    right: 20px;
    height: 1px;
}

.top-form-container .form-group input:focus{
    box-shadow: none;
    outline: none;
}
.top-form-container .form-group input{
    border: none;
    border-radius: 0;
    background: transparent;
    border-bottom: 1px solid grey;
}



/*.main-page-header .navbar {*/
    /*position: relative;*/
    /*width: 250px;*/
    /*height: 350px;*/
    /*top: 0px;*/
    /*left: 0px;*/
    /*background: inherit;*/
    /*border-radius: 2px;*/
    /*overflow: hidden;*/
/*}*/

/*.main-page-header .navbar:after{*/
    /*content: '';*/
    /*width: 300px;*/
    /*height: 300px;*/
    /*background: inherit;*/
    /*position: absolute;*/
    /*left: -25px;*/
    /*right: 0;*/
    /*top: -25px;*/
    /*bottom: 0;*/
    /*box-shadow: inset 0 0 0 200px rgba(255,255,255,0.05);*/
    /*filter: blur(10px);*/
/*}*/

/*.main-page-header {*/
    /*background-color: white;*/
/*}*/

/*.bg-pics{*/
    /*position: absolute;*/
    /*top: -20px;*/
    /*left: 400px;*/
/*}*/