
.project-task{
    font-size: 1.3rem;
}

.technical-details{
    background-color: #fafafa;
}

.details-picture{
    width: 200px;
    height: auto;
}

.details-number{
    font-size: 3rem;
}

.project-functionality{
    background-color: #fafafa;
    font-size: 1.3rem;
}

.planing-block{
    margin-top: 150px;
    background-color: #fafafa;
}

.link-block{
    margin-top: -100px;
    background-color:#39de53;
    width: 100%;
    /*height: 100%;*/
}
.holder{
    position:relative;
    margin:0 auto;
}
.block{
    position:absolute;
    background:rgba(239,239,239, 0.9);
    width: 100%;
    height: 100%;
    left: 0;
    right: 0;
    opacity: 0;
    transition: 1s;
}
.scroll-modal-mobile{
    height: 65vh;
    overflow-y: scroll;
}
.holder:hover .block{
    transition: 1s;
    opacity: 1;
}
@media (max-width: 767px) {
    .bg-mocups{
        background-color: #fafafa;
    }
    .owl-carousel .owl-stage {
        display: flex;
        align-items: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }

}

/*.work-logo{*/
    /*max-width: 10px!important;*/
/*}*/