@import "../../../fonts/Raleway/raleway.css";

.main-page-header{
    background-color: #fafafa;
}

.top-margin{
    margin-top: 60px;
}

.main-page-header {
    position: relative;
    margin-top: -10px;
}

.main-page-header nav .logo-svg{
    width: 120px;
    height: auto;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.main-page-header nav .logo-svg-mobile{
    margin-top: 5px;
    margin-bottom: 5px;
    width: 50px;
    height: auto;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}

.main-page-header nav .nav-item {
    font-size: 1.1rem;
}

.main-page-header .searchbox {
    border: 1px solid #000000;
    border-radius: 5px;
    outline: none;
    color: #777;
    /*width: 170px;*/
    /*height: 26px;*/
    background: inherit;
    padding-left: 10px;
}

.main-page-header .searchboxwrapper {
    position: relative;
}


.main-page-header .searchsubmit {
    position: absolute;
    top: 3px;
    right: 10px;
    border: none;
    background: transparent;
    cursor: pointer;
}

.blur-block{
    overflow: hidden;
    top: 0;
    left: 0;
    position: absolute;
    filter: blur(5px);
}

.blur-color-block{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    background: #fafafa;
    opacity: 0.6;
    filter: blur(2px);
}

.blur-color-block.inside-page-header {
    filter: unset;
    border-bottom: 1px solid #48b71a;
}

.raleway{
    font-family: Raleway;
}
.green-btn{
    border: 1px solid #48b71a;
    background: transparent;
}

.green-btn:focus{
    box-shadow: none;
    outline: none;
}

.w-270px{
    width: 270px;
}

.green-block{
    border: 2px solid #48b71a;
}

.text-green{
    color: #48b71a;
}

.green-link{
    color: #48b71a!important;
}
.green-hover-link:hover{
    color: #48b71a!important;
    text-decoration: none;
    outline: none;
}
.work-description{
    position: absolute;
    text-align: center;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: auto;
    color: #000000;
    background: rgba(235,235,235,0.5);
    width: 75%;
}
.technology-img{
    width: auto;
    height: auto;
    max-width: 75px;
    max-height: 75px;
}

.black-link{
    color: #000!important;
}
.black-link:hover{
    text-decoration: none;
    color: #48b71a!important;
}
.container-fluid{
    max-width: 2545px!important;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.hvr-bounce-to-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    color: #4f4d51;
    border: 1px solid #48b71a;
}
.hvr-bounce-to-bottom span {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.8s;
    transition-duration: 0.8s;
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #48b71a;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
    color: white;
}
.hvr-bounce-to-bottom:hover span, .hvr-bounce-to-bottom:focus span, .hvr-bounce-to-bottom:active span {
    color: white;
}


.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);

}
.hvr-bounce-to-bottom:hover:before span, .hvr-bounce-to-bottom:focus:before span, .hvr-bounce-to-bottom:active:before span {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);

}
.hvr-bounce-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    color: #4f4d51;
    border: 1px solid #B73645;
}

.red-button{
    background: #B73645;
}
.red-button:hover{
    background: #d63d4d;
}

.hvr-bounce-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #B73645;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-bounce-to-top:hover, .hvr-bounce-to-top:focus, .hvr-bounce-to-top:active {
    color: white;
}


.hvr-bounce-to-top:hover:before, .hvr-bounce-to-top:focus:before, .hvr-bounce-to-top:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);

}

.floating{
     animation-name: floating;
     -webkit-animation-name: floating;

     animation-duration: 5.5s;
     -webkit-animation-duration: 5.5s;

     animation-iteration-count: infinite;
     -webkit-animation-iteration-count: infinite;
 }

@keyframes floating {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(1%);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes floating {
    0% {
        -webkit-transform: translateY(0%);
    }
    50% {
        -webkit-transform: translateY(1%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}
.floating-lr{
    animation-name: floating-lr;
    -webkit-animation-name: floating-lr;

    animation-duration: 5.5s;
    -webkit-animation-duration: 5.5s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes floating-lr {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(1%);
    }
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes floating-lr {
    0% {
        -webkit-transform: translateX(0%);
    }
    50% {
        -webkit-transform: translateX(1%);
    }
    100% {
        -webkit-transform: translateX(0%);
    }
}

.tossing{
    animation-name: tossing;
    -webkit-animation-name: tossing;

    animation-duration: 5.5s;
    -webkit-animation-duration: 5.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
    0% {
        transform: rotate(-1deg);
    }
    50% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(-1deg);
    }
}

@-webkit-keyframes tossing {
    0% {
        -webkit-transform: rotate(-1deg);
    }
    50% {
        -webkit-transform: rotate(1deg);
    }
    100% {
        -webkit-transform: rotate(-1deg);
    }
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}
.decoration-none:hover{
    text-decoration: none;
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
[class^="hvr-"] {
    margin: .4em;
    padding: 1em;
    cursor: pointer;
    background: #f5f5f5;
    text-decoration: none;
    color: #666;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: #48b71a;
}

.triangle-border {
    position: relative;
}

.triangle-border .left-right-border {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

.triangle-border::before {
    background: #48b71a;
    content: "";
    display: block;
    height: 2px;
    width: 200px;
    position: absolute;
    left: 0;
    top: 0;
}

.triangle-border::after {
    background: #48b71a;
    content: "";
    display: block;
    height: 2px;
    width: 200px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.triangle-border .left-right-border::before {
    background: #48b71a;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009c49', endColorstr='#ffec00',GradientType=0 ); /* IE6-9 */
    content: "";
    display: inline-block;
    height: 200px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 2px;
}

.triangle-border .left-right-border::after {
    background: #48b71a;
    content: "";
    display: inline-block;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
}

.our-clients-section .work-logo {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100px;
}
#toTop {
    /*background-image: url("../../../../img/scroll.png");*/
    border-radius: 5px;
    background-color: #48b71a;
    width: 50px;
    height: 50px;
    text-align:center;
    padding:5px;
    position:fixed;
    bottom:-10px; /* отступ кнопки от нижнего края страницы*/
    right:10px;
    cursor:pointer;
    display:none;
    z-index: 500;
}
#toTop:hover {
    background-color: black;
}
.fixed-nav{
    position: fixed;
    width: 100%;
    z-index: 5000;
    margin-left: -50px;
}
.nav-btn{
    /*margin-left: -56px;*/
    z-index: 5000;
    background: #fafafa;
}
.bg-grey{
    background: #fafafa;
}
.mobile-nav{
    display: block;
    border-radius: 10px;
    /*height: auto;*/
    overflow-y: auto;
}
.logo-svg-mobile{
    width: 80px;
    height: auto;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
}
.footer-border{
    border-top: 1px solid #48b71a;
}

.footer-border a.black-link {
    font-weight: 300;
}

.inside-page-footer {
    background-color: #fafafa;
}

.modal-portfolio-margin{
    margin-top: 55px;
}
.footer-logo-svg{
    width: 80px;
}
.modal-body textarea{
    border: none;
    border-radius: 0;
    background: transparent;
    border-bottom: 1px solid #cbcbcb;
    resize: none;
}