@import "../../../fonts/Raleway/raleway.css";

.raleway{
    font-family: Raleway;
}
.green-btn{
    border: 1px solid #48b71a;
    background: transparent;
}

.green-btn:focus{
    box-shadow: none;
    outline: none;
}
.w-270px{
    width: 270px;
}
.green-block{
    border: 2px solid #48b71a;
}

.green-link{
    color: #48b71a!important;
}
.green-hover-link:hover{
    color: #48b71a!important;
    text-decoration: none;
    outline: none;
}
.work-description{
    position: absolute;
    text-align: center;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: auto;
    color: #000000;
    background: rgba(235,235,235,0.5);
    width: 75%;
}
.technology-img{
    width: auto;
    height: auto;
    max-width: 75px;
    max-height: 75px;
}

.black-link{
    color: #000!important;
}
.black-link:hover{
    text-decoration: none;
    color: #48b71a!important;
}
.container-fluid{
    max-width: 2545px!important;
}

body {
    min-height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
}

footer {
    margin-top: auto;
}

.hvr-bounce-to-bottom {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    color: #4f4d51;
    border: 1px solid #48b71a;
}

.hvr-bounce-to-bottom:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #48b71a;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-bounce-to-bottom:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
    color: white;
}


.hvr-bounce-to-bottom:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);

}
.hvr-bounce-to-top {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    color: #4f4d51;
    border: 1px solid #B73645;
}

.hvr-bounce-to-top:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #B73645;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}
.hvr-bounce-to-top:hover, .hvr-bounce-to-bottom:focus, .hvr-bounce-to-bottom:active {
    color: white;
}


.hvr-bounce-to-top:hover:before, .hvr-bounce-to-bottom:focus:before, .hvr-bounce-to-bottom:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
    transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);

}

.floating{
     animation-name: floating;
     -webkit-animation-name: floating;

     animation-duration: 5.5s;
     -webkit-animation-duration: 5.5s;

     animation-iteration-count: infinite;
     -webkit-animation-iteration-count: infinite;
 }

@keyframes floating {
    0% {
        transform: translateY(0%);
    }
    50% {
        transform: translateY(1%);
    }
    100% {
        transform: translateY(0%);
    }
}

@-webkit-keyframes floating {
    0% {
        -webkit-transform: translateY(0%);
    }
    50% {
        -webkit-transform: translateY(1%);
    }
    100% {
        -webkit-transform: translateY(0%);
    }
}
.floating-lr{
    animation-name: floating-lr;
    -webkit-animation-name: floating-lr;

    animation-duration: 5.5s;
    -webkit-animation-duration: 5.5s;

    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes floating-lr {
    0% {
        transform: translateX(0%);
    }
    50% {
        transform: translateX(1%);
    }
    100% {
        transform: translateX(0%);
    }
}

@-webkit-keyframes floating-lr {
    0% {
        -webkit-transform: translateX(0%);
    }
    50% {
        -webkit-transform: translateX(1%);
    }
    100% {
        -webkit-transform: translateX(0%);
    }
}

.tossing{
    animation-name: tossing;
    -webkit-animation-name: tossing;

    animation-duration: 5.5s;
    -webkit-animation-duration: 5.5s;
    animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
}

@keyframes tossing {
    0% {
        transform: rotate(-1deg);
    }
    50% {
        transform: rotate(1deg);
    }
    100% {
        transform: rotate(-1deg);
    }
}

@-webkit-keyframes tossing {
    0% {
        -webkit-transform: rotate(-1deg);
    }
    50% {
        -webkit-transform: rotate(1deg);
    }
    100% {
        -webkit-transform: rotate(-1deg);
    }
}
.btn.focus, .btn:focus {
    outline: 0;
    box-shadow: none;
}
.decoration-none:hover{
    text-decoration: none;
}
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 1s;
    transition-duration: 1s;
    -webkit-transition-property: transform;
    transition-property: transform;
}
[class^="hvr-"] {
    margin: .4em;
    padding: 1em;
    cursor: pointer;
    background: #f5f5f5;
    text-decoration: none;
    color: #666;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
    color: #48b71a;
}

.triangle-border {
    position: relative;
}

.triangle-border .left-right-border {
    position: relative;
    width: 100%;
    height: 100%;
    display: block;
}

.triangle-border::before {
    background: #48b71a;
    content: "";
    display: block;
    height: 2px;
    width: 200px;
    position: absolute;
    left: 0;
    top: 0;
}

.triangle-border::after {
    background: #48b71a;
    content: "";
    display: block;
    height: 2px;
    width: 200px;
    position: absolute;
    right: 0;
    bottom: 0;
}

.triangle-border .left-right-border::before {
    background: #48b71a;
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#009c49', endColorstr='#ffec00',GradientType=0 ); /* IE6-9 */
    content: "";
    display: inline-block;
    height: 200px;
    position: absolute;
    right: 0;
    bottom: 0;
    width: 2px;
}

.triangle-border .left-right-border::after {
    background: #48b71a;
    content: "";
    display: inline-block;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
    width: 2px;
}

.our-clients-section .work-logo {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 100px;
}