.inside-pages-header nav .logo-svg{
    width: 120px;
    height: auto;
}

.inside-pages-header, footer{
    background: #efefef;
}

.inside-pages-header nav .nav-item {
    font-size: 1.1rem;
}

.inside-pages-header .searchbox {
    border: 1px solid #000000;
    border-radius: 5px;
    outline: none;
    color: #777;
    background: inherit;
    padding-left: 10px;
}

.inside-pages-header .searchboxwrapper {
    position: relative;
}

.inside-pages-header .searchsubmit {
    position: absolute;
    top: 7px;
    right: 15px;
    border: none;
    cursor: hand;
    cursor: pointer;
}